@using mYSelfERPWeb.Models
@model mYSelfERPWeb.ViewModels.SubMenuViewModel
@{
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";

    string headerTitle = (actionName == "Edit") ? "Edit Sub Menu" : "New Sub Menu";
}

<div class="card">
    @using (Html.BeginForm(actionName, "SubMenu", FormMethod.Post, new { id = "demo_form2", enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
    {
        <div class="form-group">
            @Html.HiddenFor(model => model.sub_menu_id)
        </div>

        <div class="card card-default">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0">@headerTitle Information</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sub Menu name</label>
                            @Html.TextBoxFor(model => model.display_name, new { @class = "form-control", placeholder = "Enter sub menu name" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>ICON</label>
                            @Html.TextBoxFor(model => model.icon, new { @class = "form-control" })
                            <a href="https://fontawesome.com/v4.7.0/icons/" title="Find Icon here" target="_blank">
                                <i class="fa fa-info-circle"></i> Find Icon here and Copy and Paste 'fa fa' icon field.
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Form Location</label>
                            @Html.TextBoxFor(model => model.form_location, new { @class = "form-control", placeholder = "Enter form location  /#" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Parent Menu</label>
                            <select id="menu" class="form-control select2" style="width: 100%;" name="menuId">
                                @foreach (var item in ViewBag.Menus as IEnumerable<SelectListItem>)
                                {
                                    <option value="@item.Value" @(item.Value == ViewBag.SelectedMenu ? "selected" : "")>@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Module</label>
                            <select id="module" class="form-control select2" style="width: 100%;" name="moduleId">
                                @foreach (var item in ViewBag.Modules as IEnumerable<SelectListItem>)
                                {
                                    <option value="@item.Value" @(item.Value == ViewBag.SelectedModule ? "selected" : "")>@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <div class="text-end">
                    <button type="submit" class="btn waves-effect waves-light btn-primary">
                        <i class="fa fa-save" aria-hidden="true"></i>Save SubMenu
                    </button>
                </div>
            </div>
        </div>
    }
</div>
