@model IEnumerable<mYSelfERPWeb.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        <strong class="card-title">Existing Users</strong>
        <a href="@Url.Action("Create", "User")" class="btn waves-effect waves-light btn-primary">
            <i class="fa fa-plus-square" aria-hidden="true" class="fill-white me-2"></i> Add New User
        </a>
    </div>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 5px">#</th>
                    <th>User ID</th>
                    <th>User Role</th>
                    <th>Status</th>
                    <th>Creation Date</th>
                    <th>Created By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sl = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(sl++)</td>
                        <td>@item.UserID</td>
                        <td>@item.RoleName</td>
                        <td>
                            @if (@item.Active == true)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Inactive</span>
                            }
                        </td>
                        <td>@item.CreationDate</td>
                        <td>@item.CreatedBy</td>
                        <td>
                            <a href="@Url.Action("Edit", "User", new { id = item.Id })">
                                <i class="far fa-edit"></i>
                            </a>
                            @if (@item.Active == true)
                            {
                                <a href="@Url.Action("ChangUserStatus", "User", new { id = item.Id, status = "false" })">
                                    <span class="badge bg-danger">Inactive</span>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("ChangUserStatus", "User", new { id = item.Id, status = "true" })">
                                    <span class="badge bg-success">Active</span>
                                </a>
                            }
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



